
body{
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    background: black;
    
}
.jumbotron-fluid{ 
    background-size: cover;
    animation: ch 4s ease-in-out infinite;  
}
@keyframes ch{
    0%{
        background: url("../img/cover1.jpg") ; 
        background-size: cover;   
    }
    50%{
        background: url("../img/cover2.jpg") ; 
        background-size: cover;  
    }
    100%
    {
        background: url("../img/cover3.jpg") ; 
        background-size: cover; 
    }
}

.vertical{
  display: flex;
  align-items: center;
  min-height: 100px;
  width:100%;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  margin: 0;
 line-height: 10px;
 height: 550px;
}
.letterspacing{
    letter-spacing: 15px;
}

.sideimage{
    
    height: 100%;
    width: 100%;
    align-self: center;
    overflow: hidden;
    background-size: 100% 100%; 
}
.sideimage img{
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out ;
}
.sideimage img:hover{
    height: 100%;
    width: 100%;
   transform: scale(1.1);
}

.sec_img{
    width: 18%;
    min-width: 20px;
    float: left;
    transition: transform 1s ease-in-out;
}
.sec_img:hover{
    width: 18%;
    min-width: 20px;
    float: left;
    transform:scale(1.5);
}
.footer_back{
    background: #212121;
    color: white;
    z-index: 9999;
    position: relative;
}
}
.footer_img{
    width: 100%;
    min-width: 30px;
}
.contact{
    
    text-align: justify;
}
span{
    font-size: 80px;
}
.footgrid li a{
    
    text-decoration: none;
    color: white;
}
.footgrid li a:hover{
    
    text-decoration: underline;
    color: white;
}
.footgrid li{
    list-style-type: none;
}

.mute_center{
    text-align: center;
    margin-top: -20px;
}
.sec_color{
    color: white;
    margin-top: 10px;
}
.oop{
    font-size: 100%;
}
.opennow{
    color: yellow;
}
.pos{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.abcd{
    width: 20px;
    height: 20px;
}
.articlemovingup{
    animation-delay: 30s;
  animation: upbro 3s ease-in-out;
}
@keyframes upbro{
    from{opacity: 0;}
    to{opacity: 1.0;}
}
.card_head{
padding: 4rem;
margin-top: 100px;
animation: deckcard 2s ease-in;
z-index: -1990;

}
@keyframes deckcard{
    from{
        margin-top: 100px;
    }
    to{
        margin-top: 0px;
    }
}
.card-title{
 text-align: center;   
}